* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    height: 100vh;
    background-color: #ffe4b5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.score {
    color: black;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.score h2 {
    font-size: 5vh;
}
.score p {
    text-align: center;
    padding: 2%;
    font-size: 2vw;
}
.intro {
    color: black;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.intro h1 {
    font-size: 1vw;
}
.intro button,.match button {
    width: 9vw;
    height: 3vw;
    background: none;
    border: none;
    background-color: #b0e0b6;
    font-size: 1.5vw;
    cursor: pointer;
}
.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.winner {
    color:black;
    text-align: center;
    font-size: 2vw;
}
.hands, .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.player-hand {
    transform: rotateY(180deg);
}

.player-hand, .computer-hand {
    max-height: 100%;
    max-width: 100%;
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}
div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

@keyframes shakePlayer {
    0% {
        transform: rotateY(180deg) translateY(0px)
    }
    15% {
        transform: rotateY(180deg) translateY(-20%);
    }
    25% {
        transform: rotateY(180deg) translateY(0px)
    }
    35% {
        transform: rotateY(180deg) translateY(-20%);
    }
    50% {
        transform: rotateY(180deg) translateY(0px)
    }
    65% {
        transform: rotateY(180deg) translateY(-20%);
    }
    75% {
        transform: rotateY(180deg) translateY(0px)
    }
    85% {
        transform: rotateY(180deg) translateY(-20%);
    }
    100% {
        transform: rotateY(180deg) translateY(0px)
    }
}
@keyframes shakeComputer {
    0% {
        transform: translateY(0px);
    }
    15% {
        transform: translateY(-20%);
    }
    25% {
        transform: translateY(0px);
    }
    35% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(0px);
    }
    65% {
        transform: translateY(-20%);
    }
    75% {
        transform: translateY(0px);
    }
    85% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0px);
    }
}
#replay {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 9vw;
    height: 3vw;
    background-color: #b0e0b6;
    border: none;
    font-size: 1.25vw;
    cursor: pointer;
}

@media screen and (orientation: portrait) {

    .intro button,.match button {
        width: 12.5vw;
        height: 5vw;
        background: none;
        border: none;
        background-color: #b0e0b6;
        font-size: 2.5vw;
        cursor: pointer;
    }

    #replay {
        margin: 0;
        position: absolute;
        top: 95%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 15vw;
        height: 6vw;
        background-color: #b0e0b6;
        border: none;
        font-size: 2.5vw;
        cursor: pointer;
    }

    .score p {
        text-align: center;
        padding: 2%;
        font-size: 6vw;
    }
    
    .winner {
        color:black;
        text-align: center;
        font-size: 4vw;
    }
}